.change-password-container {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.change-password-form-wrapper {
  padding: 30px ;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  

}

.change-password-title {
  margin-bottom: 25px;
  color: #95C436;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.change-password-input {
  padding: 12px;
  border: 1px solid #CBDCEB;
  border-radius: 6px;
  background-color: #f8f9fa;
  font-size: 16px;
}

.change-password-input:focus {
  border-color: #95C436;
  box-shadow: 0 0 0 3px rgba(149, 196, 54, 0.2);
  outline: none;
}

.Submit-button {
  padding: 12px;
  background-color: #95C436;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.change-password-button:hover {
  background-color: #7dab2f;
}

/* Small devices (phones <576px) */
@media (max-width: 575.98px) {
  .change-password-form-wrapper {
    padding: 20px;
  }

  .change-password-title {
    font-size: 22px;
  }

  .change-password-input {
    font-size: 14px;
    padding: 10px;
  }

  .change-password-button {
    font-size: 16px;
    padding: 10px;
  }
}

/* Medium devices (576px to 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .change-password-title {
    font-size: 24px;
  }

  .change-password-button {
    font-size: 17px;
  }
}